.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
}

.gallery-subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-top: -30px;
  margin-bottom: 5px;
}

.swiper-wrapper-box {
  padding: 40px 10px;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-card-bg);
  overflow: hidden;
  height: 450px;
}

.gallery-img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.gallery-caption {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
}

.gallery-caption p {
  font-size: 1rem;
  font-style: italic;
  color: var(--cor-texto);
}

/* Customizando as cores dos botões do Swiper para combinarem com nossa paleta */
.swiper-button-next, .swiper-button-prev {
  color: var(--cor-destaque) !important;
}

.swiper-pagination-bullet-active {
  background: var(--cor-destaque) !important;
}